/* 
font-family: 'Handjet', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Space Grotesk', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Roboto:ital@0;1&family=Space+Grotesk&display=swap');

body {
    background-color: #0D1B1E;
    Color: #FFDAD6;
}

header {
    box-sizing: content-box;
    position: sticky;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 2px solid #BAD9B5;
    width: 100%;
    height: 3.5rem;
    z-index: 3;
    background-color: #0D1B1E;
    top: 0px;
    font-size: 1.25rem;
}

main {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 0 auto;
}

header h1, header nav {
    margin: auto 0;
}

header h1 {
    margin-left: 1rem;
    font-family: 'Handjet', cursive;
}

header nav {
    margin-right: 1rem;
    justify-content: space-between;
}

nav a {
    margin-left: 10px;
}

a {
    color: #BAD9B5;
    font-family: 'Space Grotesk', sans-serif;
}

a:hover {
    color: #DAEAD7;
}

/* BANNER */
#banner {
    border-bottom: 1px solid #BAD9B5;
    background-image: url(https://raw.githubusercontent.com/Wil-silver44/Wil-silver44.github.io/main/Resources/Media/ales-nesetril-Banner-unsplash.jpg);
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    width: 100%;
    height: 45rem;
    font-size: 1.15rem;
}

#banner div {
    position: absolute;
    box-sizing: content-box;
    margin: 7rem auto auto 3rem;
}

#banner div h1 {
    margin-bottom: 0;
}

#banner div h2 {
    margin-bottom: 2rem;
    margin-left: 2.5rem;
}

#banner div p {
    margin-bottom: 5rem;
    margin-left: 5rem;
    width: 15rem;
}

#banner div a {
    margin-left: 5rem;
}

#skills {
    border-bottom: 1px solid #BAD9B5;
    display: flex;
    width: 100%;
    height: 33.75rem;
    font-size: 1.15rem;
    justify-content: space-evenly;
    background-image: url(#);
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 7rem;
}

#skills h2 {
    text-align: center;
}

#skills p {
    width: 26rem;
}

#aboutME {
    margin-top: 4.5em;
    border-bottom: 1px solid #BAD9B5;
    display: flex;
    justify-content: space-evenly;
    background-image: url(#);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 33.75rem;
    font-size: 1.15rem;
}

#aboutME h2 {
    text-align: right;
}

#aboutME p {
    width: 24rem;
    margin-top: 2.65rem;
}

#contact {
    margin-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    background-image: url(#);
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    justify-content: center;
    width: 100%;
    height: 22.5rem;
    font-size: 1.15rem;
    text-align: center;
}

footer {
    box-sizing: content-box;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-top: 2px solid #BAD9B5;
    width: 100%;
    height: 3.5rem;
    z-index: 3;
    background-color: #0D1B1E;
}

footer p, footer nav {
    margin: auto 0;
}
footer p {
    margin-left: 1rem;
}
footer nav {
    margin-right: 1rem;
}